:root {
	--fuentePrimaria: 'Playfair Display', serif;
	--fuenteSecundaria: 'Raleway', sans-serif;
	--primario: #037bc0;
	--secundario: #8cbc00;
}

/* Globals styles */
.imagen-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.bg-primary {
	background-color: #037bc0;
}

h2 {
	font-size: 2rem;
}

/* Title */
.titulo {
	font-family: 'Playfair Display', serif;
}

.titulo span {
	color: #037bc0;
}

.nav-link {
	color: black!important;
}

.navbar {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

/* Main Image */
.imagen-principal {
	background-image: url(../img/principal.jpg);
	height: 35rem;
}

/* Categories */
.categorias a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 1.5rem;
}

.categorias a:hover {
	text-decoration: none;
}

/* Abot Us */
.sobre-nosotros,
.imagen-nosotros {
	min-height: 35rem;
}

.imagen-nosotros {
	background-image: url(../img/nosotros.jpg);
}

/* Products */
.info-producto .precio {
	font-size: 1.8rem;
}

.info-producto .btn-success {
	background-color: #8cbc00;
	border-color: #8cbc00;
}

.info-producto .btn-success:hover {
	background-color: #80ab02;
}

/* Footer */
footer {
	border-top: 1px solid #e1e1e1;
}

.footer-menu .nav-link {
	color: #666;
}
